.header {
  padding-top: 15px;
  padding-bottom: 15px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-container {
      height: 35px;
      width: auto;

      .logo {
        height: 100%;
        width: 100%;
      }
    }

    .socials {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 20px;

      li a {
        text-decoration: none;
        color: #FF6E31;
        font-size: 2rem;
      }
    }
  }
}